input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 12px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.container img {
    width: 50%;
    height: auto;
}